.contents {
    width: 26dvw;
    height: auto;
    margin-left: 19dvw;
    padding-top: 5dvh;
    padding-left: 17.5dvw;
    overflow: hidden;
}

.account_info {
    display: flex;
    align-items: center;
}

#user-image {
    display: block;
    width: auto;
    height: 90%;
}

#user-name {
    display: block;
}

.post_time {
    right: 37.5dvw;
}

details > summary {
    display: none;
}

details[open] {
    border-left: solid 1px #ddd;
}


#comment-container {
    position: fixed;
    display: block;
    align-items: center;
    top: 0;
    right: 0;
    width: 30dvw;
    min-height: 100dvh;
    overflow-y: scroll;
}

.comment-tag {
    position: fixed;
    width: 100%;
    height: 50px;
    border-bottom: solid 1px #ddd;
    background-color: #fff;
    z-index: 9999;
}

.comment-tag h3 {
    line-height: 100%;
}

.detail-contents {
    width: 100%;
    height: 100px;
    margin: 0;
    padding: 0;
    padding-top: 50px;
}

#account-area {
    margin: 0;
    padding: 2%;
    position: relative;
    background-color: #fff;
    border-bottom: solid 1px #ddd;
}

#account-area a {
    display: flex;
    position: relative;
    width: auto;
    height: 50px;
    text-decoration: none;
    color: #000;
}

#account-area:hover {
    filter: brightness(0.7);
}

#account-area a img {
    width: auto;
    height: 90%;
    border: solid 1px #ddd;
    border-radius: 50%;
}

#account-area p {
    width: auto;
    height: 100%;
}

.detail-contents small {
    position: absolute;
    display: inline-block;
    width: auto;
    right: 0;
    top: 40%;
    color: #aaa;
}

.comment-text {
    display: flex;
    width: 100%;
}

.comment-text p {
    width: 90%;
    height: auto;
}

.custom-summary {
    display: block;
    width: 150px;
    text-align: center;
    cursor: pointer;
    padding: 2px;
    border: solid 1px #ddd;
    border-radius: 5px;
}

.custom-summary:hover {
    background-color: #eee;
}