html body {
    min-height: 100vh;
}

.contents {
    padding-left: 19vw;
    height: auto;
    width: 60dvw;
    /* border: solid 1px #999; */
}

#search-tabs {
    width: auto;
    height: 5dvh;
    display: flex;
    justify-content: left;
}

#search-tabs-container {
    width: auto;
    padding-left: 2%;
    display: flex;
    align-items: center;
}

.tab-link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2%;
    padding: 2%;
    border: solid 1px #ddd;
    border-radius: 2dvh;
    min-width: 5dvw;
    text-decoration: none;
    color: black;
    transition: all, 0.2s;
}

.tab-link:hover { 
    background-color: #ddd;
}

.active {
    cursor: none;
    pointer-events: none;
    background-color: #a46a9a;
    color: #fff;
}


/* 検索ボックス */
#search-container {
    margin: 2%;
    width: 50dvh;
    position: relative;

}

#search-container div input {
    width: 90%;
    height: 5dvh;
    padding-left: 5%;
    padding-right: 5%;
}

#search-box {
    height: 3vh;
    border: solid 1px #ccc;
    border-radius: 5vh;
}

#search-results-container {
    position: absolute;
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    z-index: 9999;
    border-radius: 0 0 10px 10px;
}

#search-results {
    width: 100%;
    background-color: #fff;
    z-index: 9998;
}

.results-active {
    border-radius: 0 0 10px 10px;
    border: solid 1px #ccc;
    background-color: #fff;
}

/* #search-history-container {
    border: solid 1px #ddd;
} */

#search-candidates li {
    cursor: pointer;
    transition: all;
    margin-top: 2%;
    margin-bottom: 2%;
}

#search-candidates li:hover {
    background-color: #ccc;
}

#search-history-container {
    width: 100%;
}

#search-history-list {
    width: 100%;
}

#search-history-list div {
    position: relative;
    display: flex;
    cursor: pointer;
}

#search-history-list div:hover {
    background-color: #ccc;
}

.delete-item-btn {
    display: block;
    position: absolute;
    right: 0;
    all: unset;
    cursor: pointer;
}

.delete-item-btn:hover {
    color: red;
}

#clear-history-btn {
    all: unset;
    cursor: pointer;
    margin-top: 2dvh;
    padding: 0.5dvh;
    border: solid 1px #ddd;
    border-radius: 2dvh;
}

#clear-history-btn:hover {
    background-color: #ccc;
}

/* end 検索ボックス */

/* 検索結果 */

/* 共通箇所 */

.search-view-results {
    width: 80dvh;
    height: auto;
    z-index: 9000;
}

.results-container {
    width: 100%;
    height: auto;
}

/* end 共通箇所 */


/* ユーザー検索 */

.user-info-container {
    width: 90%;
    height: 15dvh;
    padding: 0;
    border: solid 1px #ddd;
}

.user-info-container a {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    text-decoration: none;
    color: #000;
}

.user-info-container a:hover {
    background-color: #eee;
}

.user-info-container a img {
    width: auto;
    height: 80%;
    margin-left: 5%;
    border: solid 1px #ddd;
    border-radius: 50%;
}

/* end ユーザー検索 */

/* タグ検索 */

.tag-info-container, .category-info-container {
    width: 100%;
    height: auto;
    margin-bottom: 3dvh;    
    margin-top: 10dvh;
}

.tag-info-container h3, small, .category-info-container h3, small {
    width: 30%;
    display: inline;
}

.triple-tag-image, .triple-category-image {
    display: flex;
    width: 100%;
    height: auto;
    flex-wrap: wrap;
}

.image-box {
    width: 32%;
    margin:0.5%;
    aspect-ratio: 1 / 1;
    border: solid 1px #ddd;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* end タグ検索 */

/* トレンドタグ一覧 */

.trend-tags-container {
    width: 80%;
    height: auto;
    margin-top: 10dvh;
    margin-bottom: 10dvh;
}

.trend-tags-container a {
    display: flex;
    align-items: center;
    justify-content: first baseline;
    width: 100%;
    height: 10dvh;
    margin-left: 5dvh;
    border: solid 1px #ddd;
    text-decoration: none;
    color:#000;
}

.trend-tags-container a:hover {
    background-color: #eee;
}

/* end トレンドタグ */




/* end 検索結果 */

/* 右コンテンツ */

.account_info {
    display: flex;
    padding-left: 40dvh;
    width: 100%;
    height: 20dvh;
    border: solid 1px #ddd;
}

.account_info img {
    width: 15dvh;
    height: 15dvh;
    border-radius: 50%;
}


.trend {
    width: 100%;
}

.trend_container {
    margin: 2%;
    width: 90%;
    height: 50dvh;
}

.right_bar {
    position: fixed;
    z-index: 9999;
    right: 0dvh;
    top: 0dvh;
    height: 40dvh;
    width: 19dvw;
    margin: 0 auto;
}

.recommend_container {
    margin: 2%;
    width: 90%;
    height: 50dvh;
    border: solid 1px #ddd;
    border-radius: 2%;
}


.right_bar ol {
    /* margin-top: 2.5%;
    margin-bottom: 2.5%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 0;
    height: 20%; */
    text-align: left;
}

@media (max-width: 1000px) {
    .right_bar {
        display: none;
    }

    /* #post_button {
        display: none;
    } */
}