html, body {
    margin: 0;
    width: 100dvw;
    font-size: 16px;
}


/* メインコンテナ */
.main_container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

/* サイドバー */
.side_bar {
    position: fixed;
    align-items: left;
    height: 100dvh;
    width: 19vw;
    margin: 0 auto;
    z-index: 9999;
    border-right: solid 1px #ddd;
    background-color: #fff;
    
    justify-content: space-between;
}

.header_logo {
  margin: 0 right;
  width: 100px;
  height: 50px;
}

.link_to_shopsite {
  margin: 0;
  width: 20vw;
  height: 5vh;
}

.replace_button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 15dvh;
  height: 100%;
  text-decoration: none;
  color: black;
  background-color: #fff;
  border: solid 1px #ddd;
  transition: all, 0.2s;
}

.side_bar ul {
    margin-top: 13dvh;
    padding: 0;
    width: 100%;
    height: 70%;
}

.side_bar ol {
  margin-top: 4%;
  margin-bottom: 4%;
  margin-left: 5%;
  margin-right: 5%;
  padding: 0;
  height: 10%;
  text-align: left;
}

.side_bar_links {
  width: 100%;
  height: 100%;
}

.side_bar_links button {
  cursor: pointer;
  display: flex;
  text-align: left;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 10px;
  border: none;
  transition: 0.3s;
}

.side_bar_links a{
  width: 100%;
  text-decoration: none;
}

.side_bar_links text {
  width: 100%;
  font-size: 16px !important;
}

/* .side_bar_links img {
  height: 50%;
} */

/* 通知ボタン上の件数表示 */
::before{
  content: attr(data-count);
  color: #a46a9a;
  position: absolute;
  font: 600 14px/1 sans-serif;
  font-variant-numeric: tabular-nums;
  display: grid;
  padding: 0 0 2em 1.2em;
  border-radius: 1rem;
}

.side_bar_links svg {
  height: 70%;
  
}

.side_bar_links text {
  font-size: 1vw;
}

.side_bar_links:hover button {
  background-color: #ddd;
}


/* 現在ページのアイコンの色変更 */
#home {
  fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;
}

#search {
  fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;
}

#notification {
  fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;
}

#settings {
  fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;
}

#message {
  fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;
}

#cart {
  fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;
}

#profile {
  fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;
}

#design {
  fill: none; stroke: rgb(0, 0, 0); stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5;
}

#nav-active {
  fill: #a46a9a;
  stroke: #a46a9a;
  color: #a46a9a;
  stroke-linecap: round; stroke-linejoin: round; stroke-width: 1.5
}

/* ウィンドウ縮小時 */
@media (max-width: 1000px) {
  .side_bar {
    width: 10vh;
  }

  .side_bar_links button {
    text-align: center;
  }

  .side_bar_links svg {
    margin: 0 auto;
  }

  .side_bar_links text {
    display: none;
  }

  .icon {
    margin-right: 0;
    text-align: center;
  }

  ::before{
    content: attr(data-count);
    color: red;
    position: absolute;
    font: 600 14px/1 sans-serif;
    font-variant-numeric: tabular-nums;
    display: grid;
    padding: 0 0 2em 2.6em;
    border-radius: 1rem;
  }
}

/* フッター */
.footer_container {
    display: flex;
    width: 100%;
    height: 20%;
}