body {
    margin: 0 auto;
    width: 100%;
}

#loading {
    width: 100vw;
    height: 100vh;
    transition: all 1s;
    /* background-color: rgb(16, 16, 16); */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000;
  }
  .spinner {
    width: auto;
    height: auto;
    margin-top: 300px;
    margin-left: 800px;
  }
  /* ローディングアニメーション */
  @keyframes sk-scaleout {
    0% {
      transform: scale(0);
    } 100% {
      transform: scale(1.0);
      opacity: 0;
    }
  }
   
  .loaded {
    opacity: 0;
    visibility: hidden;
  }
  

header {
    position: fixed;
    display: flex;
    justify-content: center;
    height: 70px;
    width: 100%;
    display: flex;
    z-index: 9998;
    border: solid 1px black;    /* 一時 */
    background-color: violet;   /* 一時 */
}

.main_container {
    display: flex;
    justify-content: space-between;
}

.side_bar {
    position: fixed;
    align-items: left;
    height: 100vh;
    width: 25vh;
    margin: 0 auto;
    z-index: 9999;
    border: solid 1px black;    /* 一時 */
    background-color: azure;    /* 一時 */
    
    justify-content: space-between;
}

.side_bar ul {
    margin-top: 70px;
}

.contents {
    height: 100vh;
    width: 75vw;
    margin-left: 25vh;
    margin-top: 70px;
    border: solid 1px black;    /* 一時 */
    background-color: blue;     /* 一時 */
    justify-content: space-between;
}

.post_container {
    width: 500px;
    height: 700px;
    margin-top: 100px;
    margin: auto;
    background-color: red;      /* 一時 */
}

.account_info {
    display: flex;
    justify-content: left;
}

.account_info img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #FFF;
}

.image_area {
    width: 100%;
    height: auto;
    margin: auto;
}

.splide__slide img {
    width: 100%;
    height: auto;
  }



.right_bar {
    position: fixed;
    right: 5vh;
    top: 25vh;
    height: 40vh;
    width: 300px;
    margin: 0 auto;
    border: solid 1px black;    /* 一時 */
    background-color: azure;    /* 一時 */
}

.right_bar ul {
    margin-top: 70px;
}


.footer_container {
    display: flex;
    width: 100%;
    height: 20%;
}