<div id="search-container">
    <div style="position: relative;">
        <input
            type="text"
            id="search-box"
            placeholder="アカウントを検索..."
            autocomplete="off"
        />
        <button id="clear-search-btn" style="position: absolute; right: 5px; top: 50%; transform: translateY(-50%); background: none; border: none; cursor: pointer; font-size: 16px;">×</button>
    </div>
    <div id="search-results-container">
        <div id="search-results">
            <ul id="search-candidates" style="list-style: none; margin: 0; padding: 0;"></ul>
        </div>
        <div id="search-history-container" style="display: none; margin-top: 2dvh; margin-bottom: 2dvh;">
            <div id="search-history-empty" style="display: none;">検索してみましょう</div>
            <div id="search-history-list"></div>
            <button id="clear-history-btn" style="display: none;">すべて削除</button>
        </div>
    </div>
</div>


<script src="{{ url_for('static', filename='js/SearchComponent.js') }}"></script>
