<header>
    <div class="header_container">
        <div class="header_top">
            <img class="logo" src="">
            <div class="search_box">
                <form action="サイトURL" method="get">
                <input type="search" name="search" placeholder="キーワードを入力">
                <input type="submit" name="submit" value="検索">
                </form>
            </div>
            <a class="account_button" href=""><img src="img/account_button.png"></a>
        </div>
        <div class="header_bottom">
            {% block header_bottom_button %}
            {# 
                <a class="left_button" href=""></a>
                <a class="right_button" href=""></a>
             #}
            {% endblock %}
        </div>
    </div>
</header>