{% extends "extends/extends_base.html" %}
{% block title %}messages/Ganger{% endblock %}
{% block head %}
    <link rel="stylesheet" href="../static/css/message.css">
{% endblock %}
{% block content %}
<div class="main-contents">
    {% if not room_data %}
        <p>メッセージはまだありません</p>
    {% else %}
        <div class="to-message-room">
            <h2>Messages</h2>
        {% for data in room_data %}
            <a href=" {{ url_for('display_message_by_room', room_id=data.room_id) }}">
                <img src="{{data.profile_image}}" alt="profile_image">
                <div class="message-room-info">
                    <h3>{{ data.username }}</h3>
                    <small>{{ data.last_message}}</small>
                    <sub>{{ data.sent_time}}</sub>
                </div>
            </a>
        {% endfor %}
    </div>
    {% endif %}

    <div class="find-message-user">
        <div class="message-button-wrapper">
            <div id="message-button" class="message-button-area">
                <img src="../static/images/templates_images/message-icon.svg"></img>
            </div>
            <h2> Send Message</h2>
        </div>
    </div>
</div>

    <script>
        document.getElementById("message-button").addEventListener("click", function() {
            let messageDiv = document.querySelector(".find-message-user");
    
            // **APIエンドポイントと通信**
            fetch("/api/user/followed")
                .then(response => response.json()) // JSONデータに変換
                .then(data => {

                    messageDiv.className = "message-user-list"

                    console.log(data);
                    if (data.success && data.result.length > 0) {  // `data.result` を参照する
                        // **フォローしているユーザーリストを作成**
                        let userListHTML = `
                            <h2>Create New Message</h2>
                            <ul>
                        `;
                        
                        data.result.forEach(user => {  // `data.result` をループ
                            userListHTML += `
                                <li>
                                    <a href="/message/user/${user.id}" class="message-link">
                                        <img src="${user.profile_image}" alt="${user.username}">
                                        <h3>${user.username}<h3>
                                    </a>
                                </li>
                            `;
                        });
    
                        userListHTML += `</ul>`;
    
                        // **取得したデータで要素を上書き**
                        messageDiv.innerHTML = userListHTML;
    
                    } else {
                        messageDiv.innerHTML = `<p>フォローしているユーザーがいません。</p>`;
                    }
                })
                .catch(error => {
                    console.error("エラー:", error);
                    messageDiv.innerHTML = `<p>通信エラーが発生しました。</p>`;
                });
        });
    </script>
{% endblock %}