{% extends "extends/extends_base.html" %}
{% block title %}home/Ganger{% endblock %}
{% block head %}
  <link rel="stylesheet" href="../static/css/splide.min.css">
  <link rel="stylesheet" href="../static/css/home.css">
{% endblock %}
{% include 'components/component_loading.html' %}
{% block header %}
  {% include 'components/component_header.html' %}
{% endblock %}
{% block content %}
    <!-- メインコンテンツエリア -->
    <div class="main-contents">
    
      <div id="following-contents"></div>

      <div id="recommended-contents"></div>
    
    </div><!-- main-contents -->

      <!-- 投稿ボタン -->
      <div id = "post_button" style="position: fixed; bottom: 10%; left: 70%; z-index: 9998;">
        <a href="{{ url_for('create_post') }}">
          <button id="add_post_button">
            <?xml version="1.0" encoding="utf-8"?>
            <svg width="80%" height="80%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M3 6C3 4.34315 4.34315 3 6 3H14C15.6569 3 17 4.34315 17 6V14C17 15.6569 15.6569 17 14 17H6C4.34315 17 3 15.6569 3 14V6Z" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M21 7V18C21 19.6569 19.6569 21 18 21H7" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M10 10V7M10 10V13M10 10H13M10 10H7" stroke="#fff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>
          </button>
        </a>
      </div>
    <div class="right_bar">
      {% include 'components/component_search.html' %}
      {% include 'components/component_trend.html' %}
    </div>
    <script src="../static/js/ajax.js"></script>
{% endblock %}