<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet"  href="../static/css/login.css">
    <title>ログイン</title>

</head>
<body>
    <div class="wrapper">
        <div class="logo">
        <!-- 初期表示の「ログイン」 -->
            <h1 id="login-text">
                <span>ロ</span><span>グ</span><span>イ</span><span>ン</span>
            </h1>
            <!-- 後から表示する「Ganger」 -->
            <h1 id="ganger-text">
                Ganger
            </h1>
        </div>
        <form method="post">
            <div class="loginBox">
                <div class="loginBoxCenter">
                    <p><input type="text" id="text" name="identifier" class="loginInput" required placeholder="ユーザーID/メールアドレスを入力してください" /></p>
                    <p><input type="password" id="password" name="password" class="loginInput" required placeholder="パスワードを入力してください" /></p>
                    <div class="flash">
                        {% include 'components/component_flash.html '%}
                    </div>
                <p><a class="forgetLink" href="{{ url_for('password_reset') }}">パスワードを忘れた方はこちらをクリック</a></p>
                </div>
                <div class="loginBoxButtons">
                    <button class="loginBtn">ログイン</button>
                <a href="{{ url_for('signup') }}"><div class="newset">新規会員登録</div></a>
                </div>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-line"></i></a>
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-google"></i></a>
                    <a href="#"><i class="fab fa-facebook"></i></a>
                </div>
            </div>
        </form>
    </div>
</body>
</html>