{% extends "extends/extends_base.html" %}
{% block content %}
<div class="contents">
    {% include 'components/component_search.html' %}

    <div id="search-tabs">
        <a href="javascript:void(0);" data-tab="USER" class="tab-link {% if tab == 'USER' %}active{% endif %}">アカウント</a>
        <a href="javascript:void(0);" data-tab="TAG" class="tab-link {% if tab == 'TAG' %}active{% endif %}">タグ</a>
        <a href="javascript:void(0);" data-tab="CATEGORY" class="tab-link {% if tab == 'CATEGORY' %}active{% endif %}">カテゴリー</a>
    </div>

    <div id="search-results-container">
        {% if query %}
            <h1>検索結果: "{{ query }}"</h1>
            {% if tab == 'USER' %}
                <h2>ユーザー</h2>
                {% if results.users %}
                    <ul>
                        {% for user in results.users %}
                        <a href="{{ url_for('my_profile',id = user.id) }}">
                            <li>{{ user.username }} ({{ user.user_id }})</li></a>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>該当するユーザーは見つかりませんでした。</p>
                {% endif %}
            {% elif tab == 'TAG' %}
                <h2>タグ</h2>
                {% if results.tags %}
                    <ul>
                        {% for tag in results.tags %}
                        <a href="{{ url_for('display_post',post_id = tag.post_id) }}">
                            <img src="{{ tag.image_url }}" alt="">
                        </a>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>該当するタグは見つかりませんでした。</p>
                {% endif %}
            {% elif tab == 'CATEGORY' %}
                <h2>カテゴリ</h2>
                {% if results.categories %}
                    <ul>
                        {% for category in results.categories %}
                            <li>カテゴリID: {{ category.category_id }} (商品ID: {{ category.product_id }})</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>該当するカテゴリは見つかりませんでした。</p>
                {% endif %}
            {% endif %}
        {% else %}
            <h1>検索してみましょう。</h1>
        {% endif %}
    </div>
</div>
    <script src="{{ url_for('static', filename='js/SearchPage.js') }}"></script>
{% endblock %}
