{% extends "extends/shop_base.html" %}

{% block title %}ショップページ{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/shop_page.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hamburger_menu.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}

{% block content %}
<!-- ハンバーガーメニューの追加 -->
<nav class="main-menu">
    <div class="scrollbar" id="style-1">
        <a href="{{ url_for('home') }}" class="header_logo">
            <img src="../../static/images/logo_images/ganger_icon_image.png" alt="to-shop-site" class="shop_button">
            <img src="../../static/images/logo_images/ganger_icon_text.png" alt="to-sns-site" class="sns_button">
        </a>
        <ul>
            <li>                                   
                <a href="{{url_for('home')}}">
                    <i class="fa fa-home fa-lg"></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('notifications')}}">
                    <i class="fa fa-bell"></i>
                    <span class="nav-text">お知らせ</span>
                    <!-- <svg data-icon-name="notification-bell" data-style="line" id="notification-bell" class="icon line" width="24" height="24"> -->
                    <path d="M19.38,14.38a2.12,2.12,0,0,1,.62,1.5h0A2.12,2.12,0,0,1,17.88,18H6.12A2.12,2.12,0,0,1,4,15.88H4a2.12,2.12,0,0,1,.62-1.5L6,13V9a6,6,0,0,1,6-6h0a6,6,0,0,1,6,6v4ZM15,18H9a3,3,0,0,0,3,3h0A3,3,0,0,0,15,18Z" id="primary"></path>
                    </svg>
                </a>
            </li>
            <li>                                   
                <a href="{{url_for('my_profile',id = session['id'])}}">
                    <i class="fa fa-user fa-lg"></i>
                    <span class="nav-text">Profile</span>
                </a>
            </li>
            <li>
                <a href="{{ url_for('display_cart') }}">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="nav-text">カート一覧</span>
                </a>
            </li>
            <li>                                   
                <a href="{{ url_for('complete_checkout', after_checkout=False )}}">
                    <i class="fa fa-clock fa-lg"></i>
                    <span class="nav-text">購入履歴</span>
                </a>
            </li>   
            <li>                                   
                <a href="/shop/fetch_products_by_category/clothes">
                    <i class="fa fa-t-shirt fa-lg"></i>
                    <span class="nav-text"> 衣類</span>
                </a>
            </li>    
            <li>                                   
                <a href="/shop/fetch_products_by_category/shoes">
                    <i class="fa fa-shoe-prints fa-lg"></i>
                    <span class="nav-text"> シューズ</span>
                </a>
            </li>   
            <li>                                   
                <a href="/shop/fetch_products_by_category/cap">
                    <i class="fa fa-hat-cowboy fa-lg"></i>
                    <span class="nav-text"> 帽子</span>
                </a>
            </li>   
            <li>                                   
                <a href="/shop/fetch_products_by_category/accessories">
                    <i class="fa fa-gem fa-lg"></i>
                    <span class="nav-text"> アクセサリー</span>
                </a>
            </li>
        </ul>
    </div>
</nav>

<nav class="category-nav">
    <a href="{# {{ url_for(######) }} #}"><button data-category="all">すべてのアイテム</button></a>
    <a href="/shop/fetch_products_by_category/clothes"><button data-category="accessories">衣類</button></a>
    <a href="/shop/fetch_products_by_category/cap"><button data-category="web-items">帽子・靴</button></a>
    <a href="/shop/fetch_products_by_category/accessories"><button data-category="shoes">アクセサリー</button></a>
</nav>


<main id="content">
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for product in products %}
                <div class="swiper-slide">
                    <a href="{{ url_for('display_product', product_id=product['product_id']) }}">
                        <img src="{{ product['img_path'] }}" alt="商品画像">
                    </a>
                </div>
            {% endfor %}        
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div class="main_content">
            
        <div class="populer_item">
            <h2>トレンドアイテム</h2>
            <div class="shop_select">
                {% for product in trending_products %}
                    <div class="goods">
                        <div class="items-imgs">
                            <a href="{{ url_for('display_product', product_id=product['product_id']) }}">
                            <img src="{{ product.images[0].img_path }}" alt="product.name">
                            </a>
                        </div>
                        <div class="user">
                            <img src="{{ product.author.profile_image}}" alt="{{  product.author.username }} さんのアイコン">
                            <h5>{{ product.author.username }}</h5>
                        </div>
                        <div class="category_name">
                            <p>{{ product.category.category_name }}</p>
                        </div>
                        <div>
                            <h4>{{ product.price }}円</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="div3"></div>
    </div>

</main>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/hamburger_menu.js') }}"></script>
<script>
    /*カテゴリー別ページ*/
    document.querySelectorAll('.category-nav button').forEach(button => {
        button.addEventListener('click', () => {
            const category = button.getAttribute('data-category');
            const content = document.getElementById('content');
            
            switch(category) {
                case 'all':
                    content.innerHTML = '<p>すべてのアイテムが表示されます。</p>';
                    break;
                case 'accessories':
                    content.innerHTML = '<p>アクセサリーが表示されます。</p>';
                    break;
                case 'web-items':
                    content.innerHTML = '<p>ウェブアイテムが表示されます。</p>';
                    break;
                case 'shoes':
                    content.innerHTML = '<p>シューズが表示されます。</p>';
                    break;
                default:
                    content.innerHTML = '<p>該当するカテゴリが見つかりません。</p>';
            }
        });
    });


    /*スライドショー*/
    document.addEventListener('DOMContentLoaded', function() {
        const swiper = new Swiper('.swiper', {
            loop: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            direction: 'horizontal',
            slidesPerView: 3,
            centeredSlides: true,
            spaceBetween: 10,
            
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            
            breakpoints: {
                768: {
                    slidesPerView: 1,
                },
                769: {
                    slidesPerView: 3,
                }
            }
        });
    });
</script>
{% endblock %}
