{% extends "extends/shop_base.html" %}

{% block title %}ショップページ{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/shop_page.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hamburger_menu.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
{% endblock %}

{% block content %}
<!-- ハンバーガーメニューの追加 -->
{% include 'components/sidebar.html' %}

<nav class="category-nav">
    <a href="/shop/fetch_products_by_categories/clothes+cap+shoes+accessories"><button data-category="all">すべてのアイテム</button></a>
    <a href="/shop/fetch_products_by_category/clothes"><button data-category="accessories">衣類</button></a>
    <a href="/shop/fetch_products_by_categories/cap+shoes"><button data-category="web-items">帽子・靴</button></a>
    <a href="/shop/fetch_products_by_category/accessories"><button data-category="shoes">アクセサリー</button></a>
</nav>


<main id="content">
    <div class="swiper">
        <div class="swiper-wrapper">
            {% for product in products %}
                <div class="swiper-slide">
                    <a href="{{ url_for('display_product', product_id=product['product_id']) }}">
                        <img src="{{ product['img_path'] }}" alt="商品画像">
                    </a>
                </div>
            {% endfor %}        
        </div>
        <div class="swiper-pagination"></div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <div class="main_content">
            
        <div class="populer_item">
            <h2>トレンドアイテム</h2>
            <div class="shop_select">
                {% for product in trending_products %}
                    <div class="goods">
                        <div class="items-imgs">
                            <a href="{{ url_for('display_product', product_id=product['product_id']) }}">
                            <img src="{{ product.images[0].img_path }}" alt="product.name">
                            </a>
                        </div>
                        <div class="user">
                            <img src="{{ product.author.profile_image}}" alt="{{  product.author.username }} さんのアイコン">
                            <h5>{{ product.author.username }}</h5>
                        </div>
                        <div class="category_name">
                            <p>{{ product.category.category_name }}</p>
                        </div>
                        <div>
                            <h4>{{ product.price|int }}円</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="div3"></div>
    </div>

</main>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="{{ url_for('static', filename='js/hamburger_menu.js') }}"></script>
<script>
    /*カテゴリー別ページ*/
    // document.querySelectorAll('.category-nav button').forEach(button => {
    //     button.addEventListener('click', () => {
    //         const category = button.getAttribute('data-category');
    //         const content = document.getElementById('content');
            
    //         switch(category) {
    //             case 'all':
    //                 content.innerHTML = '<p>すべてのアイテムが表示されます。</p>';
    //                 break;
    //             case 'accessories':
    //                 content.innerHTML = '<p>アクセサリーが表示されます。</p>';
    //                 break;
    //             case 'web-items':
    //                 content.innerHTML = '<p>ウェブアイテムが表示されます。</p>';
    //                 break;
    //             case 'shoes':
    //                 content.innerHTML = '<p>シューズが表示されます。</p>';
    //                 break;
    //             default:
    //                 content.innerHTML = '<p>該当するカテゴリが見つかりません。</p>';
    //         }
    //     });
    // });


    /*スライドショー*/
    document.addEventListener('DOMContentLoaded', function() {
        const swiper = new Swiper('.swiper', {
            loop: true,
            autoplay: {
                delay: 5000,
                disableOnInteraction: false,
            },
            direction: 'horizontal',
            slidesPerView: 3,
            centeredSlides: true,
            spaceBetween: 10,
            
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            
            breakpoints: {
                768: {
                    slidesPerView: 1,
                },
                769: {
                    slidesPerView: 3,
                }
            }
        });
    });
</script>
{% endblock %}
