{% extends "extends/shop_base.html" %}

{% block title %}ショップページ{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/shop_page.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/hamburger_menu.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block content %}
<!-- ハンバーガーメニューの追加 -->
<nav class="main-menu">
    <div class="scrollbar" id="style-1">
        <a href="{{ url_for('home') }}" class="header_logo">
            <img src="../../static/images/logo_images/ganger_icon_image.png" alt="to-sns-site" class="sns_button">
            <img src="../../static/images/logo_images/ganger_icon_text.png" alt="to-shop-site" class="shop_button">
        </a>
        <ul>
            <li>                                   
                <a href="{{url_for('home')}}">
                    <i class="fa fa-home fa-lg"></i>
                    <span class="nav-text">Home</span>
                </a>
            </li>   
            <li>                                   
                <a href="{{url_for('my_profile',id = session['id'])}}">
                    <i class="fa fa-user fa-lg"></i>
                    <span class="nav-text">Profile</span>
                </a>
            </li>
            <li>                                   
                <a href="{{ url_for('complete_checkout', after_checkout=False )}}">
                    <i class="fa fa-clock fa-lg"></i>
                    <span class="nav-text">購入履歴</span>
                </a>
            </li>   
            <li>                                   
                <a href="{#{{url_for('cloces')}}#}">
                    <i class="fa fa-t-shirt fa-lg"></i>
                    <span class="nav-text">衣類</span>
                </a>
            </li>    
            <li>                                   
                <a href="{#{{url_for('******')}}#}">
                    <i class="fa fa-shoe-prints fa-lg"></i>
                    <span class="nav-text">シューズ</span>
                </a>
            </li>   
            <li>                                   
                <a href="{#{{url_for('******')}}#}">
                    <i class="fa fa-hat-cowboy fa-lg"></i>
                    <span class="nav-text">帽子</span>
                </a>
            </li>   
            <li>                                   
                <a href="{#{{url_for('******')}}#}">
                    <i class="fa fa-gem fa-lg"></i>
                    <span class="nav-text">アクセサリー</span>
                </a>
            </li>
        </ul>
    </div>
</nav>


<main id="content">
    <div class="main_content">
            
        <div class="populer_item">
            <h2>{# category_name #}</h2>
            <div class="shop_select">
                {% for product in trending_products %}
                    <div class="goods">
                        <div>
                            <a href="{{ url_for('display_product', product_id=product['product_id']) }}">
                            <img src="{{ product.images[0].img_path }}" alt="product.name">
                            </a>
                        </div>
                        <div>
                            <img src="{{ product.author.profile_image}}" alt="{{  product.author.username }} さんのアイコン"">
                            <h5>{{ product.author.username }}</h5>
                        </div>
                        <div>
                            <p>{{ product.category.category_name }}</p>
                        </div>
                        <div>
                            <h4>{{ product.price }}円</h4>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
        <div class="div3"></div>
    </div>

</main>
{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/hamburger_menu.js') }}"></script>
{% endblock %}
