<!DOCTYPE html>
<html lang="ja">
<head>

  <!-- フリー画像ここにある iconify design, svgbackgrounds.com -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ganger</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/splide.min.css">
    <link rel="stylesheet" href="../static/css/cssanimation.min.css">
    <script type="text/javascript" href="../static/js/main.js"></script>
    <script src="..\static\js\node_modules\@splidejs\splide\dist\js\splide.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('.splide').forEach(function (carousel) {
        console.log("Initializing Splide for:", carousel.id);
        new Splide(carousel).mount();
      });
    });      
      window.onload = function() {
        const spinner = document.getElementById('loading');
        spinner.classList.add('loaded');
      }
    </script>
    
</head>
<body>
  <div id="loading">
    <div class="cssanimation leFadeInLeft sequence"> Example </div>
  </div>
  <header>
    <div class="header_logo">Ganger</div>
    <button id="ajaxtest">AjaxTest</button>
    <div class="link_to_shopsite"><button class="replace_button" href="{#{{ url_for('{# method replace to shopsite #}') }}#}">shop</button></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </header>
  <div class="main_container">
    <div class="side_bar">   <!-- サイドバーエリア -->
      <ul>
        <ol>
          <div class="side_bar_links">
            <a href="{{url_for('home')}}"><button><img src="../static/images/templates_images/home-alt-3.svg"><text>&emsp;HOME</text></button></a>
          </div>
        </ol>
    
        <ol>
          <div class="side_bar_links">
            <a href="{{ url_for('search_page') }}"><button><img src="../static/images/templates_images/search.svg"><text>&emsp;検索</text></button></a>
          </div>
        </ol>
    
        <ol>
          <div class="side_bar_links">
          <a href=""><button><img src="../static/images/templates_images/notification-bell.svg"><text>&emsp;お知らせ</text></button></a>
        </ol>
    
        <ol>
          <div class="side_bar_links">
            <a href=""><button><img src="../static/images/templates_images/settings.svg"><text>&emsp;設定</text></button></a>
          </div>
        </ol>
    
        <ol>
          <div class="side_bar_links">
            <a href=""><button><img src="../static/images/templates_images/email.svg"><text>&emsp;メッセージ</text></button></a>
          </div>
        </ol>
    
        <!-- <ol>
          <div class="side_bar_links">
            <a href=""><button><text>&emsp;カート</text></button></a>
          </div>
        </ol> -->
    
        <ol>
          <div class="side_bar_links">
            <a href="{{ url_for('my_profile',id = session['id']) }}"><button><img src="###" alt="profile"><text>&emsp;プロフィール</text></button></a>
          </div>
        </ol>
    
        <ol>
          <div class="side_bar_links">
            <a href="{{ url_for('create_design' )}}"><button><img src="###" alt="createTshirts"><text>&emsp;Create Design</text></button></a>
          </div>
        </ol>
      </ul>
    </div>  <!-- サイドバーエリア終了 -->

    <div class="contents">
      {% for post in posts %}
      <div class="post_container">
        <div class="account_info">
          <a href="{{url_for('my_profile',id = post['id'])}}"><img src="{{ post['profile_image'] }}" alt="プロフィール画像"></a>
          <p>{{ post["user_id"] }}</p>
        </div>
        <div class="image_area">
          <section id="image-carousel-{{ post['post_id'] }}" class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                {% for image in post["images"] %}
                <li class="splide__slide">
                  <img src="{{ image['img_path'] }}" alt="投稿画像">
                </li>
                {% endfor %}
              </ul>
            </div>
          </section>
        </div>
        <p class="user_name">{{ post['username'] }}</p>
        <p class="body_text">{{ post['body_text'] }}</p>
        <p class="post_time">{{ post['post_time'] }}</p>
      </div>
      {% endfor %}
    </div>    
    <div class="right_bar">
      <ul>
        <oi>a</oi>
        <oi>b</oi>
      </ul>
    </div>
  </div>
</body>
</html>