<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ganger</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" href="../static/css/splide.min.css">
    <link rel="stylesheet" href="../static/css/cssanimation.min.css">
    <script type="text/javascript" href="../static/js/main.js"></script>
    <script src="..\static\js\node_modules\@splidejs\splide\dist\js\splide.min.js"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function () {
      document.querySelectorAll('.splide').forEach(function (carousel) {
        console.log("Initializing Splide for:", carousel.id);
        new Splide(carousel).mount();
      });
    });      
      window.onload = function() {
        const spinner = document.getElementById('loading');
        spinner.classList.add('loaded');
      }
    </script>
    
</head>
<body>
  <div id="loading">
    <div class="cssanimation leFadeInLeft sequence"> Example </div>
  </div>
  <header>
    <div class="header_logo">Ganger</div>
    <button id="ajaxtest">AjaxTest</button>
    <div class="link_to_shopsite"><button class="replace_button" href="{#{{ url_for('{# method replace to shopsite #}') }}#}">shop</button></div>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  </header>
  <div class="main_container">
    <div class="side_bar">
      <ul>
        <ol>
          <button><a href="{{url_for('home')}}" class=side_bar_links><i class="fa-solid fa-house"></i>&emsp;HOME</a></button>
        </ol>

        <ol>
          <button><a href="" class=side_bar_links><i class="fa-solid fa-magnifying-glass"></i>&emsp;検索</a></button>
        </ol>

        <ol>
          <button><a href="" class=side_bar_links><i class="fa-solid fa-envelope"></i>&emsp;お知らせ</a></button>
        </ol>

        <ol>
          <button><a href="" class=side_bar_links>トレンド</a></button>
        </ol>

        <ol>
          <button><a href="" class=side_bar_links>メッセージ</a></button>
        </ol>

        <ol>
          <button><a href="" class=side_bar_links>カート</a></button>
        </ol>

        <ol>
            <button>
              <a href="{{ url_for('my_profile',id = session['id']) }}" class=side_bar_links>
              プロフィール</a>
            </button>
        </ol>

        <ol>
          <a href="{{ url_for('create_design' )}}" class="side_bar_links"><button>&emsp;Create Design</a></button>
        </ol>
      </ul>
    </div>

    <div class="contents">
      {% for post in posts %}
      <div class="post_container">
        <div class="account_info">
          <a href="{{url_for('my_profile',id = post['id'])}}"><img src="{{ post['profile_image'] }}" alt="プロフィール画像"></a>
          <p>{{ post["user_id"] }}</p>
        </div>
        <div class="image_area">
          <section id="image-carousel-{{ post['post_id'] }}" class="splide">
            <div class="splide__track">
              <ul class="splide__list">
                {% for image in post["images"] %}
                <li class="splide__slide">
                  <img src="{{ image['img_path'] }}" alt="投稿画像">
                </li>
                {% endfor %}
              </ul>
            </div>
          </section>
        </div>
        <p class="user_name">{{ post['username'] }}</p>
        <p class="body_text">{{ post['body_text'] }}</p>
        <p class="post_time">{{ post['post_time'] }}</p>
      </div>
      {% endfor %}
    </div>    
    <div class="right_bar">
      <ul>
        <li>a</li>
        <li>b</li>
      </ul>
    </div>
  </div>
</body>
</html>